<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PdfViewerServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRemoveEventType" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> AnnotationRemoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMouseOverEventType">
                <span  aria-hidden="true"></span> AnnotationMouseOverEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMoveEventType">
                <span  aria-hidden="true"></span> AnnotationMoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationPropertiesChangeEventType">
                <span  aria-hidden="true"></span> AnnotationPropertiesChangeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeEventType">
                <span  aria-hidden="true"></span> AnnotationRsizeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeLocationType">
                <span aria-hidden="true"></span> AnnotationRsizeLocationType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizerShapeType">
                <span aria-hidden="true"></span> AnnotationRsizerShapeType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationSelectEventType">
                <span aria-hidden="true"></span> AnnotationSelectEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationTypeMode">
                <span aria-hidden="true"></span> AnnotationTypeMode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationToolbarItem">
                <span aria-hidden="true"></span> AnnotationToolbarItem
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
