<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PdfViewerServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Action">
                <span aria-hidden="true"></span> Action
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addsignature-events">
                <span aria-hidden="true"></span> Addsignature-Event
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AjaxRequestFailureEvent">
                <span aria-hidden="true"></span> AjaxRequestFailure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotation-Interaction">
                <span aria-hidden="true"></span> Annotation-Interaction
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotationadd-events">
                <span aria-hidden="true"></span> AnnotationAdd-Event
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationBaseEvent">
                <span aria-hidden="true"></span> AnnotationBaseEvent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationData-Format">
                <span aria-hidden="true"></span> AnnotationData-Format
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationDoubleclick-events">
                <span aria-hidden="true"></span> Doubleclick-Event
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotation-Mode">
                <span aria-hidden="true"></span> Annotation-Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRemoveEventType" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> AnnotationRemoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMouseOverEventType">
                <span  aria-hidden="true"></span> AnnotationMouseOverEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMoveEventType">
                <span  aria-hidden="true"></span> AnnotationMoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationPropertiesChangeEventType">
                <span  aria-hidden="true"></span> AnnotationPropertiesChangeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeEventType">
                <span  aria-hidden="true"></span> AnnotationRsizeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeLocationType">
                <span aria-hidden="true"></span> AnnotationRsizeLocationType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizerShapeType">
                <span aria-hidden="true"></span> AnnotationRsizerShapeType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationSelectEventType">
                <span aria-hidden="true"></span> AnnotationSelectEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationTypeMode">
                <span aria-hidden="true"></span> AnnotationTypeMode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationToolbarItem">
                <span aria-hidden="true"></span> AnnotationToolbarItem
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationUnselect-event">
                <span aria-hidden="true"></span> AnnotationUnselectEvent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Bound">
                <span aria-hidden="true"></span> Bound
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ContextMenuAction">
                <span aria-hidden="true"></span> ContextMenuAction
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
