<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PdfViewerServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Action">
                <span aria-hidden="true"></span> Action
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="addsignature-events">
                <span aria-hidden="true"></span> Addsignature-Event
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AjaxRequestFailureEvent">
                <span aria-hidden="true"></span> AjaxRequestFailure
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotation-Interaction">
                <span aria-hidden="true"></span> Annotation-Interaction
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotationadd-events">
                <span aria-hidden="true"></span> AnnotationAdd-Event
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationBaseEvent">
                <span aria-hidden="true"></span> AnnotationBaseEvent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationData-Format">
                <span aria-hidden="true"></span> AnnotationData-Format
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationDoubleclick-events">
                <span aria-hidden="true"></span> Doubleclick-Event
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Annotation-Mode">
                <span aria-hidden="true"></span> Annotation-Mode
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRemoveEventType" Match="NavLinkMatch.All">
                <span  aria-hidden="true"></span> AnnotationRemoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMouseOverEventType">
                <span  aria-hidden="true"></span> AnnotationMouseOverEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationMoveEventType">
                <span  aria-hidden="true"></span> AnnotationMoveEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationPropertiesChangeEventType">
                <span  aria-hidden="true"></span> AnnotationPropertiesChangeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeEventType">
                <span  aria-hidden="true"></span> AnnotationRsizeEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizeLocationType">
                <span aria-hidden="true"></span> AnnotationRsizeLocationType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationRsizerShapeType">
                <span aria-hidden="true"></span> AnnotationRsizerShapeType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationSelectEventType">
                <span aria-hidden="true"></span> AnnotationSelectEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationTypeMode">
                <span aria-hidden="true"></span> AnnotationTypeMode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationToolbarItem">
                <span aria-hidden="true"></span> AnnotationToolbarItem
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationUnselect-event">
                <span aria-hidden="true"></span> AnnotationUnselectEvent
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BaseEventArgs">
                <span aria-hidden="true"></span> BaseEventArgs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BookMark">
                <span aria-hidden="true"></span> BookMark
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="BookMarkDestination">
                <span aria-hidden="true"></span> BookMarkDestination
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Boderstyle">
                <span aria-hidden="true"></span> BorderStyle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Bound">
                <span aria-hidden="true"></span> Bound
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CalibrationUnit">
                <span aria-hidden="true"></span> CalibrationUnit
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Comment">
                <span aria-hidden="true"></span> Comment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ContextMenuAction">
                <span aria-hidden="true"></span> ContextMenuAction
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ContextMenuItem">
                <span aria-hidden="true"></span> ContextMenuItem
            </NavLink>
        </div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="CursorTypeCheck">
                <span aria-hidden="true"></span> CursorTypeCheck
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DisplayModeType">
                <span aria-hidden="true"></span> DisplayModeType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DownloadEndEventType">
                <span aria-hidden="true"></span> DownloadEndEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DownloadStartEventType">
                <span aria-hidden="true"></span> DownloadStartEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExportFailureEventType">
                <span aria-hidden="true"></span> ExportFailureEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExportStartEventType">
                <span aria-hidden="true"></span> ExportStartEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExportSuccessEventType">
                <span aria-hidden="true"></span> ExportSuccessEventType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ExtractTextCompleteEventType">
                <span aria-hidden="true"></span> ExtractTextCompleteEventType
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Fontstyle">
                <span aria-hidden="true"></span> FontStyle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FormFieldClick">
                <span aria-hidden="true"></span> FormField
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FormFieldClickevent">
                <span aria-hidden="true"></span> FormFieldClickevent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FormFieldDataFormat">
                <span aria-hidden="true"></span> FormFieldDataFormat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="FormFieldType">
                <span aria-hidden="true"></span> FormFieldType
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HyperlinkClick">
                <span aria-hidden="true"></span> HyperlinkClick
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="HyperlinkMouseOver">
                <span aria-hidden="true"></span> HyperlinkMouseOver
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ImportFailureEvent">
                <span aria-hidden="true"></span> ImportFailureEvent
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ImportStartEvent">
                <span aria-hidden="true"></span> ImportStartEvent
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ImportSuccessEvent">
                <span aria-hidden="true"></span> ImportSuccessEvent
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DynamicStampItemType">
                <span aria-hidden="true"></span> DynamicStampItemType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DocumentInfoType">
                <span aria-hidden="true"></span> DocumentInfoType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="InteractionModeType">
                <span aria-hidden="true"></span> InteractionModeType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LineHeadStyleType">
                <span aria-hidden="true"></span> LineHeadStyleType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LinkTargetType">
                <span aria-hidden="true"></span> LinkTargetType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoadEventArgsType">
                <span aria-hidden="true"></span> LoadEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LoadFailedEventArgsType">
                <span aria-hidden="true"></span> LoadFailedEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MoveSignatureEventArgsType">
                <span aria-hidden="true"></span> MoveSignatureEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PageChangeEventArgsType">
                <span aria-hidden="true"></span> PageChangeEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PageClickEventArgsType">
                <span aria-hidden="true"></span> PageClickEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PageMouseOverEventArgsType">
                <span aria-hidden="true"></span> PageMouseOverEventArgsType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PageTextContentType">
                <span aria-hidden="true"></span> PageTextContentType
            </NavLink>
        </div>

           <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfAnnotation">
                <span aria-hidden="true"></span> PdfAnnotation
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationProperties">
                <span aria-hidden="true"></span> AnnotationProperties
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AjaxRequestSetting">
                <span aria-hidden="true"></span> AjaxRequestSetting
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationSelectorSetting">
                <span aria-hidden="true"></span> SelectorSetting
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnnotationSettings">
                <span aria-hidden="true"></span> AnnotationSettings
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="AreaSettings">
                <span aria-hidden="true"></span> AreaSettings
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="ArrowSettings">
                <span aria-hidden="true"></span> ArrowSettings
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="CircleSettings">
                <span aria-hidden="true"></span> CircleSettings
            </NavLink>
        </div>
           <div class="nav-item px-3">
            <NavLink class="nav-link" href="ContextMenuSetting">
                <span aria-hidden="true"></span> ContextMenuSetting
            </NavLink>
        </div>
        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerCustomStampType">
                <span aria-hidden="true"></span> PdfViewerCustomStampType
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerCustomStampTypeSettings">
                <span aria-hidden="true"></span> PdfViewerCustomStampTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerDistanceTypeSettings">
                <span aria-hidden="true"></span> PdfViewerDistanceTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerFreeTextTypeSettings">
                <span aria-hidden="true"></span> PdfViewerFreeTextTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerHandwrittenSignatureTypeSettings">
                <span aria-hidden="true"></span> PdfViewerHandwrittenSignatureTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerHighlightTypeSettings">
                <span aria-hidden="true"></span> PdfViewerHighlightTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerInkAnnotationTypeSettings">
                <span aria-hidden="true"></span> PdfViewerInkAnnotationTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerLineTypeSettings">
                <span aria-hidden="true"></span> PdfViewerLineTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerMeasurementTypeSettings">
                <span aria-hidden="true"></span> PdfViewerMeasurementTypeSettings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PdfViewerEventsType">
                <span aria-hidden="true"></span> PdfViewerEventsType
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
