@page "/AnnotationDoubleclick-events"

@using Syncfusion.Blazor.PdfViewerServer

@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.PdfViewer



<SfPdfViewerServer DocumentPath="@DocumentPath" @ref="viewer" Width="100%" Height="100%">
    <PdfViewerEvents OnAnnotationDoubleClick="Doubleclick" />
</SfPdfViewerServer>
<div>
    @ResultString
</div>

@code {

    private string DocumentPath { get; set; } = "wwwroot/Data/pdfviewerserver/pdf-succinctly.pdf";

    SfPdfViewerServer? viewer { get; set; }
    private string ResultString = "";

    public void Doubleclick(AnnotationDoubleClickEventArgs value)

    {

        ResultString = "";

        ResultString = "EventName: " + value.Name + "  Annoatation-ID:" + value.AnnotationId + "  PageNumber: "+value.PageNumber + "  AuthorValue: " + value.AnnotationProperties.Author + " " + "  Bordercolor:" + value.AnnotationProperties.BorderColor + "  BoderWidth:" + value.AnnotationProperties.BorderWidth + "  Textmarkup-color" + value.AnnotationProperties.Color + "   DefaultText" + value.AnnotationProperties.DefaultText + " FillColor: " + value.AnnotationProperties.FillColor + " FontColor: " + value.AnnotationProperties.FontColor + "  FontFamily: " + value.AnnotationProperties.FontFamily + " FontSize: " + value.AnnotationProperties.FontSize + "  FontStyle: " + value.AnnotationProperties.FontStyle + "  Height:" + value.AnnotationProperties.Height +
          "   LineHeadStart: " + value.AnnotationProperties.LineHeadStart + "  LineHeadEnd: " + value.AnnotationProperties.LineHeadEnd + "  Modified-Date:" + value.AnnotationProperties.ModifiedDate + "  Opacity:" + value.AnnotationProperties.Opacity + "  Subject:" + value.AnnotationProperties.Subject + "  TextAlignment:" + value.AnnotationProperties.TextAlignment + "  Markup content: " + value.AnnotationProperties.TextMarkupContent + "   Start index: " + value.AnnotationProperties.TextMarkupStartIndex + "  End index: " + value.AnnotationProperties.TextMarkupEndIndex + "  Thickness:" + value.AnnotationProperties.Thickness + " IsLock: " + value.AnnotationProperties.IsLock;


    }
}