@page "/AnnotationUnselect-event"

@using Syncfusion.Blazor.PdfViewerServer

@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.PdfViewer



<SfPdfViewerServer DocumentPath="@DocumentPath" @ref="viewer" Width="80%" Height="80%" EnableShapeLabel=true>
    <PdfViewerEvents AnnotationUnselected="Unselect" />
</SfPdfViewerServer>
<div>
    @ResultString
</div>

@code {

    private string DocumentPath { get; set; } = "wwwroot/Data/pdfviewerserver/pdf-succinctly.pdf";

    SfPdfViewerServer? viewer { get; set; }
    private string ResultString = "";

    public void Unselect(AnnotationUnselectEventArgs value)

    {

        ResultString = "";

        ResultString = " Annotation-ID: " + value.AnnotationId + " Page-Number:" + value.PageNumber + " Annotation-Mode:" + value.Annotation.AnnotationMode + " Dynamic-Text:" + value.Annotation.DynamicText + " Is-ShapeLabel-Enable:" + value.Annotation.EnableShapeLabel + " Intent:" + value.Annotation.Indent + " Ismulti-Select :" + value.Annotation.IsMultiSelect + " IsPrint:" + value.Annotation.IsPrint + " LabelBorderColor:" + value.Annotation.LabelBorderColor + " LabelBound-Height:" + value.Annotation.LabelBound.Height + " LabelBound-Left:" + value.Annotation.LabelBound.Left + " LabelBound-X:" + value.Annotation.LabelBound.X + " LabelBound-Bottom:" + value.Annotation.LabelBound.Bottom + " LabelContent:" + value.Annotation.LabelContent + " LabelFillColor:" + value.Annotation.LabelFillColor + " Note:" + value.Annotation.Note + " UniqueKey:" + value.Annotation.UniqueKey + " Review:" + value.Annotation.Review;
     
    }
}