@page "/PrintEndEventType"

@using Syncfusion.Blazor.PdfViewerServer

@using Syncfusion.Blazor.Buttons

@using Syncfusion.Blazor.PdfViewer



<SfPdfViewerServer DocumentPath="@DocumentPath" @ref="viewer" Width="100%" Height="100%">
    <PdfViewerEvents PrintEnd=@PrintEndEvent />
</SfPdfViewerServer>
<div>
    @ResultString
</div>

@code {

    private string DocumentPath { get; set; } = "wwwroot/Data/pdfviewerserver/FormFillingDocument.pdf";

    SfPdfViewerServer? viewer { get; set; }
    private string ResultString = "";

    public void PrintEndEvent(PrintEndEventArgs value)

    {
        ResultString = $"FileName: {value.FileName}    Name: {value.Name}";

        
    }
}