@page "/RectType"
@using Syncfusion.Blazor.PdfViewerServer
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.PdfViewer
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Syncfusion.Blazor


        <SfPdfViewerServer DocumentPath="@DocumentPath" @ref="viewer" Height="100%" Width="100%">

            <PdfViewerEvents AnnotationSelected="onAnnotationSelected"  />

           

        </SfPdfViewerServer>
        <div>
            @ResultString
        </div>
    
  

@code {




    private string DocumentPath { get; set; } = "wwwroot/Data/pdfviewerserver/pdf-succinctly.pdf";
    private string ResultString = "";
    bool stopMouseOver = false;

    public SfPdfViewerServer viewer { get; set; }




    public void onAnnotationSelected(AnnotationSelectEventArgs value)
    {

        ResultString = $"Rect.Bottom: {value.AnnotationCollection[0].Rect.Bottom}   Rect.Left: {value.AnnotationCollection[0].Rect.Left}    Rect.Right: {value.AnnotationCollection[0].Rect.Right}    Rect.Top: {value.AnnotationCollection[0].Rect.Top}";
    }

  
    
}
